<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1 data-th-text="${greetings}"></h1>
    <hr>
    <h2>Update message</h2>
    <form action="/update" method="POST">
        Text: 
        <input type="text" name="input" size="30" required/>
        <button type="submit" >Update</button>
    </form>
</body>
</html>